In [2]:
from pandas import read_excel
from os import getcwd

dataset = read_excel(getcwd() + "/SGW/data/dataset.xls", 
           sheet_name="for_read",
           names=["Argon", "Nitrogen", "Helium", "Hydrocarbon_concentration", "Temperature", "Time",
                  "Mass_of_wire_in_end", "Mass_of_reactor_at_end", "Increase_of_carbon_in_reactor",
                  "Rate_of_growth", "Yield_of_carbon"],
           dtype={"Argon": int,
                  "Nitrogen": int,
                  "Helium": int,
                  "Hydrocarbon_concentration": float,
                  "Temperature": float,
                  "Time": float,
                  "Mass_of_wire_in_end": float,
                  "Mass_of_reactor_at_end": float,
                  "Increase_of_carbon_in_reactor": float,
                  "Rate_of_growth": float,
                  "Yield_of_carbon": float})

In [7]:
dataset.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Argon</th>
      <th>Nitrogen</th>
      <th>Helium</th>
      <th>Hydrocarbon_concentration</th>
      <th>Temperature</th>
      <th>Time</th>
      <th>Mass_of_wire_in_end</th>
      <th>Mass_of_reactor_at_end</th>
      <th>Increase_of_carbon_in_reactor</th>
      <th>Rate_of_growth</th>
      <th>Yield_of_carbon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>900</td>
      <td>30</td>
      <td>0.0881</td>
      <td>52.5900</td>
      <td>0.0001</td>
      <td>0.000010</td>
      <td>0.000010</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>900</td>
      <td>60</td>
      <td>0.0922</td>
      <td>52.8084</td>
      <td>0.0001</td>
      <td>0.000007</td>
      <td>0.000007</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>900</td>
      <td>90</td>
      <td>0.0933</td>
      <td>46.9415</td>
      <td>0.0001</td>
      <td>0.000006</td>
      <td>0.000006</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1100</td>
      <td>10</td>
      <td>0.0843</td>
      <td>52.5502</td>
      <td>0.0001</td>
      <td>0.000030</td>
      <td>0.000030</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1100</td>
      <td>30</td>
      <td>0.0879</td>
      <td>51.7198</td>
      <td>0.0001</td>
      <td>0.000013</td>
      <td>0.000013</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1100</td>
      <td>60</td>
      <td>0.0894</td>
      <td>51.7637</td>
      <td>0.0001</td>
      <td>0.000015</td>
      <td>0.000015</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1100</td>
      <td>90</td>
      <td>0.0923</td>
      <td>52.2848</td>
      <td>0.0002</td>
      <td>0.000016</td>
      <td>0.000016</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1300</td>
      <td>10</td>
      <td>0.0910</td>
      <td>46.9311</td>
      <td>0.0001</td>
      <td>0.000030</td>
      <td>0.000030</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1300</td>
      <td>30</td>
      <td>0.0881</td>
      <td>51.8464</td>
      <td>0.0001</td>
      <td>0.000017</td>
      <td>0.000017</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>40</td>
      <td>1300</td>
      <td>60</td>
      <td>0.0894</td>
      <td>51.6991</td>
      <td>0.0002</td>
      <td>0.000020</td>
      <td>0.000020</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
dataset.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Argon</th>
      <th>Nitrogen</th>
      <th>Helium</th>
      <th>Hydrocarbon_concentration</th>
      <th>Temperature</th>
      <th>Time</th>
      <th>Mass_of_wire_in_end</th>
      <th>Mass_of_reactor_at_end</th>
      <th>Increase_of_carbon_in_reactor</th>
      <th>Rate_of_growth</th>
      <th>Yield_of_carbon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
      <td>83.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.277108</td>
      <td>0.289157</td>
      <td>0.289157</td>
      <td>61.686747</td>
      <td>1102.409639</td>
      <td>47.951807</td>
      <td>0.081216</td>
      <td>49.381673</td>
      <td>0.000152</td>
      <td>0.000036</td>
      <td>0.000036</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.450291</td>
      <td>0.456127</td>
      <td>0.456127</td>
      <td>21.116360</td>
      <td>163.778482</td>
      <td>30.394120</td>
      <td>0.011875</td>
      <td>2.616533</td>
      <td>0.000103</td>
      <td>0.000025</td>
      <td>0.000025</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>40.000000</td>
      <td>900.000000</td>
      <td>10.000000</td>
      <td>0.052600</td>
      <td>46.815900</td>
      <td>0.000100</td>
      <td>0.000005</td>
      <td>0.000005</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>40.000000</td>
      <td>900.000000</td>
      <td>30.000000</td>
      <td>0.070500</td>
      <td>47.035600</td>
      <td>0.000100</td>
      <td>0.000017</td>
      <td>0.000017</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>70.000000</td>
      <td>1100.000000</td>
      <td>60.000000</td>
      <td>0.087700</td>
      <td>47.042700</td>
      <td>0.000100</td>
      <td>0.000030</td>
      <td>0.000030</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>70.000000</td>
      <td>1300.000000</td>
      <td>75.000000</td>
      <td>0.089850</td>
      <td>52.284800</td>
      <td>0.000200</td>
      <td>0.000053</td>
      <td>0.000053</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>100.000000</td>
      <td>1300.000000</td>
      <td>90.000000</td>
      <td>0.093500</td>
      <td>52.808400</td>
      <td>0.000600</td>
      <td>0.000130</td>
      <td>0.000130</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(dataset, test_size=0.2)

In [11]:
import numpy as np

trainX = np.array(train.drop(["Yield_of_carbon"], 1))
trainY = np.array(train["Yield_of_carbon"])

In [14]:
from sklearn import preprocessing

normalized_X = preprocessing.normalize(trainX)

standardized_X = preprocessing.scale(trainX)